
<div class="spotlight spotlight-4">

   <img class="spotlight-img" src="https://cdn11.bigcommerce.com/s-jpona4k0ew/product_images/uploaded_images/ps3-4-cu.jpg" alt="Fila stripes red"
  ><img class="spotlight-img" src="https://cdn11.bigcommerce.com/s-jpona4k0ew/product_images/uploaded_images/ps11-2-cu.jpg" alt="Fila stripes blue"
  ><img class="spotlight-img" src="https://cdn11.bigcommerce.com/s-jpona4k0ew/product_images/uploaded_images/ps10-4-cu.jpg" alt="Fila stripes blue"
  ><img class="spotlight-img" src="https://cdn11.bigcommerce.com/s-jpona4k0ew/product_images/uploaded_images/ps6-4-cu.jpg" alt="Fila stripes blue"
  >


</div>
